@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 760px) {
  .nav ul {
    border-bottom: 1px solid white;
  }
}

.nav a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 25px 35px;
  color: #6495ed;
  letter-spacing: 2;
}

@media screen and (max-width: 760px) {
  .nav a {
    padding: 10px 10px;
    border-bottom: 1px solid white;
  }
}

.nav a:hover {
  background-color: white;
}

div {
  background: url("https://mdn.mozillademos.org/files/7693/catfront.png");
}
